$dark-color: #0a0a0a;
/*$light-color: #fff;*/
/*$p1: #4e2d66;*/
$light-color:#4e2d66;
$p1: #fff;
$p2: #409eff;
$p3: #4e2d66;

$btn-bg-light: rgba(128, 0, 128, 0.65);

$btn-bg-dark: rgba(128, 0, 128, 1);
$ftn-big-size: 21px;
$txt-s1-color: #2c3e50;
$sep: #e4e7ed;


.sub-content{
    //font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    //letter-spacing: 1px;
    line-height: 1.6;
    text-align: left;
    padding: 15px 0 20px 20px;
    border-left: 1px solid #e4e7ed;
}